<!DOCTYPE html>
<html>
  <head>
    <title>BookingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="header_left">
        <%= link_to home_index_path, class: 'header_logo' do %>
          <div><%= image_tag 'logo.png' %></div>
        <% end %>
        <div class="search"><%= render "shared/search" %></div>
        <div class="search_free_word"><%= render "shared/search_free_word" %></div>
      </div>
      <% if user_signed_in? %>  <!-- ユーザーがログインしているか調べる(diviseをアプリに導入すると使えるようになるメソッド)-->
        <div class="header_right"> <!-- 4/29 ヘッダーナビ作成する -->
          <p><%= current_user.name %></p>
          <div class="header_button">
            <button class="sign_out"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></button>
          </div>
        </div>
      <% else %>
        <div class="header_right">
          <div class="signed_in_message">
            <p>現在ログインしていません</p>
          </div>
          <div class="header_button">
            <button class="sign_in"><%= link_to "ログイン", new_user_session_path %></button>
            <button class="sign_up"><%= link_to "登録する", new_user_registration_path %></button>
            <button class="sign_out"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></button>
          </div>
        </div>
      <% end %>  
    </header>
    <% if notice or alert %>
      <div class="flash">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <%= yield %>
    <footer>
      <p>© 2022 POTEPAN.INC.</p>
    </footer>
  </body>  
</html>
